#country-section {
  margin: 30px 0;
}

#country-section ul {
  margin-top: 10px;
  list-style: none;
}

#country-section ul li {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  background-color: lightblue;
  border-radius: 5px;
  font-size: 0.6rem;
}
