#inc-dec {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

#inc-dec > * {
  display: inline-block;
}

#inc-dec button {
  width: 30px;
  height: 30px;
  font-size: 1.25rem;
}

#inc-dec p {
  margin: 0 15px;
}
